/* COLOURS */

//Brand Colours
$brandOrangeDark: #F8B81F;
$brandOrangeLight: #FDCF1F;
$brandGrey: #707070;
$brandBluePrimary: #58AFE2;
$brandBlueDark: #4a82af;

//Text Colours
$textHeadingColour: #414141;
$textBodyColour: #505050;
$textHighlight: $brandOrangeDark;

//Greys
$colourGrey1: #252525;
$colourGrey2: #2C2C2C;
$colourGrey3: #3f3f3f;
$colourGrey4: #545454;
$colourGrey5: #656565;

//Whites
$colourWhite1: #FFFFFF;
$colourWhite2: #efefef;
$colourWhite3: #e1e1e1;
$colourWhite4: #c8c8c8;
$colourWhite5: #b9b9b9;
$sectionBgColour: #FCFCFC;

//Text
$bodyColour: #525252;

$featureBoxColour: #F2F2F2;
$infoBoxColour: #FAFAFA;

/* END COLOURS */

//Breakpoints
$xsUpper: 575;
$smUpper: 767;
$mdUpper: 991;
