.post{

  &__content{
    padding: 80px 0;
    &--feature-image{
      img{
        width: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
      }
    }
    h1{
      @include rem("font-size", 45);
    }
    h2{
      @include rem("font-size", 40);
    }
    h3{
      @include rem("font-size", 30);
    }
    h4{
      @include rem("font-size", 25);
    }
    h5{
      @include rem("font-size", 18);
    }
    h6{
      @include rem("font-size", 16);
    }
    p{
      @include rem("font-size", 14);
    }
  }
}